body{
  background: url(../images/background.jpg);
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Sancreek', cursive;*/
}
#siteName{
  font-family: 'Sancreek', cursive;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px #333333;
}
#title{
  font-size:20px;
}
#videos{
  text-align: center;
}
#nav {
  vertical-align: middle;
}
#bodyContent {
  background-color: rgba(255,255,255,0.75);
}
#top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  height: 118px;
  z-index: -100;
  color: white;
}
#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color:white;
}
#linkStyle {
  color: white;
  text-shadow: 1px 1px #333333;
  text-align: left;
  font-size: 18px;
}
#linkButton {
  background-color: black;
  color: white;
  text-shadow: 1px 1px #333333;
  font-size: 18px;
  height: 88px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  width: 150px;
}
#linkButton2 {
  background-color: black;
  color: white;
  text-shadow: 1px 1px #333333;
  font-size: 12px;
  height: 18px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  width: 100px;
}
#linkButton2:hover {
  background-color: orange;
  color: white;
  text-shadow: 1px 1px #333333;
  font-size: 12px;
  height: 18px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  width: 100px;
}
#linkButton2 a{
  color: white;
}
#rvTitle {
  color: white;
  text-shadow: 1px 1px #333333;
  font-size: 18px;
  text-align: center;
}
a, a:hover, a:visited{
  color: #999999;
  text-shadow: 1px 1px #333333;
  text-decoration: none;
}
a#topLink, a#topLink:hover, a#topLink:visited{
  color: #ffffff;
}
#profilePic{
  border-radius: 50%;
}
/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{
  box-sizing:border-box
}
*,*:before,*:after{
  box-sizing:inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
summary{display:list-item}
audio,canvas,progress,video{display:inline-block}
progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
figure{margin:1em 40px}
img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{margin:0}
optgroup{font-weight:bold}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
  color:#000!important;background-color:#f1f1f1!important
}
.w3-round-xlarge{
  border-radius:16px
}
.w3-container,.w3-panel{
  padding:0.01em 16px
}
.w3-blue,.w3-hover-blue:hover{
  color:#fff!important;background-color:#ff6600!important
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute;; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 89%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: #000000;
  color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
